{#Etend la base html et redefinieles blocs#}
{% extends 'base.html.twig' %}

{#indique des actions et des éléments de structure#}
{% block title %}Bienvenue sur mon blog !{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 class="text-center my-4">Bienvenue sur mon blog</h1>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    {% for publication in publications  %}
{#        notation utilisée pour afficher quelque chose#}
        <h4>{{ publication.title }}</h4>
        <p>
{#            Lier des pages entre elles#}
            <a href="{{ path('publication', {id: publication.id}) }}">Plus de détails</a>
        </p>
    {% endfor %}

    {% if current_page > 1 %}

        <a href="{{ path('app_blog_page' , {  page: current_page - 1 }) }}"> << </a>
    {% endif %}

    {% if decalageSuivant < publications.count  %}

        <a href="{{ path('app_blog_page', {  page: current_page + 1 }) }}"> >> </a>
    {% endif %}

{#    {% if previous >= 0 %}#}
{#        <a href="{{ path('app_blog', { offset: previous}) }}">Previous</a>#}
{#    {% endif %}#}

{#    {% if next < publications|length %}#}
{#        <a href="{{ path('app_blog', { offset: next}) }}">Next</a>#}
{#    {% endif %}#}

{% endblock %}
